/* ===== layout / _container.scss ===== */
@use "../foundation/vars" as v;

.l-container {
  width: 100%;
  max-width: v.$layout-container-max;
  margin-inline: auto;
  padding-inline: v.$layout-gutter;
}